.navbar-container{
    
    background-color: #fff;
    /* position: fixed; */
    
}
.nav-image{
    display: flex;
    flex-direction: row;
}
.mpl-image{
    width: 101px;
    height: 32px;
    padding-left: 100px;
    padding-top: 30px;
    margin-right: 10px;
}
.game-container-list{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
    padding-top: 20px;
    text-align: center;
}

.game-container-list > li{
  margin-left: 20px;
}
.game-container-list li{
    margin-right: 120px;
    color: #230046;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    cursor: pointer;
}
.game-container-list li:last-child{
    margin-right: 0px;
}
